<div class="tweet">
  <mat-card fxFlex="400px" fxFlex.xs="90%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          class="tweet-profile-image"
          mat-card-image
          src="{{ tweet.photo_url ? tweet.photo_url : defaultPhotoURL }}"
        />
      </div>
      <mat-card-title>{{ tweet.username }}</mat-card-title>
      <mat-card-subtitle>
        {{ tweet.timestamp.toDate() | date: "dd/MM/yyyy hh:mm:ss" }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      {{ tweet.content }}
    </mat-card-content>
  </mat-card>
</div>
