<div class="tweet">
  <mat-card fxFlex="400px" fxFlex.xs="90%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          class="tweet-profile-image"
          mat-card-image
          src="https://firebasestorage.googleapis.com/v0/b/kwetter-flutter.appspot.com/o/assets%2Fdefault-user-icon.png?alt=media&token=eecaee30-967d-4075-9840-2e89c18f3a84"
        />
      </div>
      <mat-card-title>John Doe</mat-card-title>
      <mat-card-subtitle>19/04/20 10:40</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi
      tempus nisi pellentesque rhoncus. Nunc hendrerit, augue vel egestas
      gravida, nisi dolor feugiat augue, quis venenatis risus urna vel augue.
    </mat-card-content>
  </mat-card>
</div>
