<div fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex="400px" fxFlex.xs="90%">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error>Username must be a minimum of 5 characters!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
          <mat-error>Password must be a minimum of 8 characters!</mat-error>
        </mat-form-field>

        <button
          fxFlex
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          LOGIN
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
