<div fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex="400px" fxFlex.xs="90%" fxLayout="column">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error>Username must be a minimum of 5 characters!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
          <mat-error>Password must be a minimum of 8 characters!</mat-error>
        </mat-form-field>

        <button
          fxFlex
          fxLayoutAlign="center center"
          mat-raised-button
          color="white"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          <mat-spinner
            [diameter]="36"
            *ngIf="this.loading; else text"
          ></mat-spinner>
          <ng-template #text>LOGIN</ng-template>
        </button>
      </mat-card-content>
    </form>
    <button fxFlex mat-raised-button color="accent" (click)="loginWithGoogle()">
      Login with Google
    </button>
  </mat-card>
</div>
