@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container,
.main-container > * > * {
  min-height: calc(100vh - 64px);

  @media screen and (max-width: 600px) {
    min-height: calc(100vh - 56px);
  }
}
